* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #40b298;
    --light-green: #a0ef6f;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

html {
    font-size: 16px;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-image: url(); /* Shto një URL të vlefshme nëse ke */
    width: 100%;
}

.main {
    width: 89vw;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    margin-top: 8rem;
    padding: 2%;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem 0;
    line-height: 1.5; /* Rregullim i lartësisë së linjës */
}

.title p {
    text-transform: none;
}


ul {
    list-style: none;
}

sup {
    position: absolute;
    top: 15%;
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    padding: .1rem;
}

.empty {
    text-align: center;
    text-transform: capitalize;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 59%;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    background: var(--light-green);
    color: var(--green);
    border: 1px solid var(--green);
}

.btn {
    line-height: 2;
    background-color: #e0ffcd;
    padding: 5px 35px;
    display: inline-block;
    border-radius: 30px;
    color: #000;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    z-index: 2;
}

.btn::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: var(--green);
    height: 100%;
    width: 0;
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before {
    width: 100%;
}

label {
    text-transform: capitalize;
}

input,
textarea {
    background: #fff;
    border: none;
    outline: none;
    padding: .6rem;
    box-shadow: var(--box-shadow);
    margin: .5rem 0;
    border: 1px solid var(--green);
    width: 100%;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.banner {
    background-size: cover;
    background-position: center;
    background-color: var(--green);
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: uppercase;
    color: #fff;
    margin-left: 3rem;
}

.tittle2 {
    background: #fff;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.tittle2 a {
    color: var(--green);
    text-decoration: none;
    transition: color 0.3s ease;
}

.tittle2 a:hover {
    color: #333;
}

.tittle2 span {
    color: #666;
    margin-left: 0.5rem;
    position: relative;
    padding-left: 1rem;
}

.tittle2 span::before {
    content: '/';
    position: absolute;
    left: 0;
    color: #999;
}

/* Header */
header {
    position: fixed;
    top: 2%;
    left: 5%;
    right: 2%;
    width: 89vw;
    padding: 1rem;
    z-index: 101;
    transition: 0.3s;
    box-shadow: var(--box-shadow);
    background-color: #fff; /* Shto një ngjyrë për sfond */
}

header.scrolled {
    top: 0;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

.header.scrolled a:hover {
    color: var(--green);
}

.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
    padding: 0.5rem; /* Shto padding për të balancuar */
    display: inline-block;
    border-bottom: 2px solid transparent; /* Vija transparente */
    transition: border-color 0.3s ease;
}

.navbar a:hover {
    color: var(--green);
    border-bottom-color: var(--green); /* Ngjyra e vijës gjatë hover-it */
}

.header .icons {
    display: flex;
}

.header .icons i {
    margin-left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000 !important;
}

#menu-btn {
    display: none;
}

.header .user-box {
    position: absolute;
    top: 120%;
    right: 0;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}

.header .user-box .btn {
    border-radius: 0.5rem;
    padding: 0 1.5rem;
}
.log-title{
    font-size: 36px;
}
.log-paragraph{
    font-size: 20px;
}
.logout-btn {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    width: 11rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
}

.header .user-box.active {
    transform: scale(1.0);
    transition: 0.2s linear;
}

     
/* home slide            */
.home-section{
    position: relative;
    margin-bottom:2rem ;
}
.slider {
    font-family: "Roboto", sans-serif;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; 
    background:radial-gradient(circle, rgba(189,241,180,1) 0%, rgba(231,104,104,1) 100%);
}

.slider__slider {
    background: radial-gradient(circle, rgba(189,241,180,1) 0%, rgba(231,104,104,1) 100%);/* Ngjyra e sfondit të slider-it */
    height: 80vh; /* 80% e lartësisë së dritares */
    min-width: 85vw; /* Gjerësi minimale prej 90% të dritares */
    width: 100%; /* Gjerësi 100% */
    scroll-snap-align: start;
    justify-content: space-between;
    display: block;
    background-position: center center;
    position: relative; /* Pozita relative për elementet absolute brenda */
    overflow: hidden; /* Fsheh çdo përmbajtje që del jashtë */
}

.slider__slider .slide-detail {
    position: relative; /* Pozita relative për të lejuar pozicionimin absolute të imazhit */
    width: 100%; /* Gjerësi 100% */
    height: 100%; /* Lartësi 100% */
}

.slider__slider .slide-detail img {
    position: absolute; /* Pozicionimi absolute për të mbushur plotësisht slider-in */
    top: 50%; /* Qendro në qendër vertikalisht */
    left: 50%; /* Qendro në qendër horizontalisht */
    width: 100%; /* Mbush gjerësinë e slider-it */
    height: 100%; /* Mbush lartësinë e slider-it */
    object-fit: cover; /* Siguron që imazhi të mbulojë plotësisht hapësirën pa deformim */
    transform: translate(-50%, -50%); /* Qendro imazhin në qendër */
}

.slider__slider .slide-detail1 img{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 250px;
    text-align: left;
    
}
.slider__slider .slide-detail2{
    position: absolute;
    top: 30%;
    left: 35%;
    text-align: center;
    
    color: #fff; /* Text color */
    margin-left: 20px;
}
.slider__slider .slide-detail2 .text-detail2 p {
    font-size: 14px; /* Madhësia e tekstit të paragrafit */
    margin-bottom: 60px; /* Hapësira poshtë paragrafit */
    margin-left: 10px;
    line-height: 1.6; /* Lartësia e rreshtit për lehtësim të leximit */
    color: #fff; /* Ngjyra e tekstit të paragrafit */
    background-color: rgba(0, 0, 0, 0.5); /* Sfond gjysmëtransparent për të përmirësuar kontrastin */
    padding: 10px; /* Hapësira brenda paragrafit */
    border-radius: 5px; /* Këndet e rrumbullakosura për një pamje më të butë */
    text-align: justify; /* Rreshtimi i tekstit në mënyrë të rregullt */
}
.slider__slider .slide-detail2 .text-detail .btn{
    margin-top: 10px;
}



.slider__slider .slide-detail2 h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.slider__slider .slide-detail2 .text-detail{
    width: 100%;
}


.slide1{
    background-image: url('img/1.jpg');
}
.slide2{
    background-image: url('img/2.jpg');
}
.slide3{
    background-image: url('img/3.jpg');
}
.slide4{
    background-image: url('img/4.jpg');
}
.slide5{
    background-image: url('img/5.jpg');
}
.slide10{
    background-image: url('img/10.jpg');
}
.slide9{
    background-image: url('img/9.jpg');
}
.slide8{
    background-image: url('img/8.jpg');
}
.slide7{
    background-image: url('img/7.jpg');
}
.slide6{
    background-image: url('img/6.jpg');
}
.left-arrow,
.right-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--light-green);
    box-shadow: 0 0 0 6px rgba(181, 240, 186, 0.4);
    z-index: 2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    display: flex;
}
.right-arrow{
    right: 1rem;
}
.left-arrow{
    left: 1rem;
}
.hero-dec-top,
.hero-dec-bottom{
    position:absolute;
    left: 5%;
    width: 100px;
    height: 100px;
}
.hero-dec-top{
    top: 4%;
    border-left: 2px solid #e2e2e255;
    border-top: 2px solid #e2e2e255;

}
.hero-dec-top{
    top: 4%;
    border-left: 2px solid #e2e2e255;
    border-bottom: 2px solid #e2e2e255;

}

.thumb{
    max-width: 1200px;
    box-shadow: var(--box-shadow);
    margin: 2rem auto;
    padding: 2%;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.thumb .box-container .box{
    text-align: center;
    margin: 1rem;
    line-height: 1.5;
    background: #fff;
    padding-bottom: 1rem;
    color: gray;
}
.thumb .box-container .box .img{
    transition: all 800ms ease-in-out;
}
.thumb .box-container .box:hover img{
    transform: rotateY(180deg);

}
.thumb .box-container .box h3{
    text-transform: capitalize;
    color: var(--green);
}
.box-container .box p{
    color: #555;
    margin: .5rem;

}
.thumb .box-container .box i{
    color: var(--green);
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    border:  2px solid var(--green);
    cursor: pointer;

}
.container .box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container .box span{
    color: var(--green);
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;

}
.container .box h1{
    font-size: 3rem;
    margin-bottom: 1rem;

}
.container .box img {
    max-width: 100%; 
    height: auto; 
    margin-left: 10px; 
    margin: 0;
}

.container .box #sale-image { /* Përdorimi i selektorit të saktë */
    max-width: 100%; /* Përcaktoni madhësinë e imazhit */
    height: auto; /* Ruajtja e raportit të lartësisë */
    margin: 20px 0 5px 35px; /* Shtimi i margjinës sipër për të lëvizur imazhin poshtë */
}

/* section shop */
.shop .title {
   
    margin-bottom: 2rem; /* Hapësira poshtë titullit */
    padding: 1.5rem; /* Hapësira brenda titullit */
  
}
.shop .title h1 {
    font-size: 1.5rem; /* Madhësia e titullit */
    letter-spacing: 3px; /* Hapësira midis shkronjave */
    font-family: 'Arial', sans-serif; /* Zgjidhni një font të përshtatshëm */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
    text-align: left;
    border-bottom: 1px solid #1b1a1a23;
   
}
.shop-slider {
    position: relative;
    overflow: hidden; /* Siguron që pjesët e panevojshme të slider-it të mos shfaqen */
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.shop-slider .box-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 2%;
}

.shop-slider .box {
    flex: 0 0 calc(20% - 2%);
    position: relative;
     /* Zvogëloni madhësinë e box-it për të përshtatur 5 libra në një rresht */
    box-sizing: border-box;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.shop-left-arrow, .shop-right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem; /* Përshtatni madhësinë për shigjetat */
    width: 40px;
    height: 40px;
    background-color: var(--light-green);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.shop-right-arrow {
    right: 1rem;
}

.shop-left-arrow {
    left: 1rem;
}



.shop-slider .box img {
    width: 100%;
    height: 250px; /* Madhësia e reduktuar */
    object-fit: contain; /* Siguron që e gjithë fotografia të duket */
    border-radius: 5px;
    margin-bottom: 10px; /* Hapësirë poshtë fotos */
}

.shop-slider .box .btn {
    margin-top: 10px;
    background-color: var(--light-green);
    color: #000;
    padding: 0.5rem 1rem;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    align-self: center; /* Qendërzimi horizontal */
}

.shop-slider .box .btn:hover {
    background-color: #aad576; /* Ngjyra gjatë hover-it */
}

.hero-dec-top,
.hero-dec-bottom{
    position:absolute;
    left: 5%;
    width: 100px;
    height: 100px;
}
.hero-dec-top{
    top: 4%;
    border-left: 2px solid #e2e2e255;
    border-top: 2px solid #e2e2e255;

}
.hero-dec-top{
    top: 4%;
    border-left: 2px solid #e2e2e255;
    border-bottom: 2px solid #e2e2e255;
}
/* events */

.reserved-data {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.reserved-data h3 {
    margin: 0 0 10px;
}
.title.reserve{
    text-align: center; /* Vendos titullin në të djathtë */
    margin-bottom: 20px; /* Shtoni pak hapësirë poshtë titullit */
}
/* footer*/
.top-footer{
    width: 100%;
    background: #fff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #000;
    align-items: center;
}
.top-footer h2 i {
    margin-right: .5rem;
}
.top-footer input{
    width: 40vw;
}
footer{
    /* background-image: url('img/0.webp'); */
    width: 100%;
    min-height: 63vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer .overlay{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    /* background: #000; */
    /* opacity: 0.5; */
}
.footer-content{
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content .img-box{
    text-align: center;
    margin-bottom: 30px;
}
footer .inner-footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #000;
}
footer .inner-footer .card{
    margin: .5rem;
   
}
footer .inner-footer .card li{
    cursor: pointer;
    line-height: 1.5rem;
    text-transform: capitalize;
    font-size: 16px;
}
footer .inner-footer .card li:nth-child(1),
footer .inner-footer .card p{
    margin-top: 1rem;
}
footer .inner-footer .card h3{
    text-transform: uppercase;
}
footer .inner-footer .card p{
    margin-bottom:1rem ;
    font-size: 16px;
}
footer .inner-footer .card .social-links{
    margin-top: 1rem;
}
footer .inner-footer .card .social-links i{
    width: 50px;
    height: 50px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #000;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--light-green);
    cursor: pointer;
    padding: .6rem;
    font-size: 1.3rem;
}
footer .inner-footer .card .social-links i:hover{
    background: var(--light-green);
    color: #fff;
}
footer .bottom-footer{
    text-transform: capitalize;
    text-align: center;
    padding-top: 50px;
    color: #000;
}


/* Media Queries */
@media (max-width: 991px) {
    #menu-btn {
        display: block;
    }

    .header .flex .navbar {
        position: absolute;
        width: 100%;
        padding: 0 2rem;
        top: 130%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid var(--green);
        background: #fff;
        transition: 0.3s ease, transform .3s ease;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
        border-top: 1px solid var(--green);
    }

    .form-container {
        width: 100%;
    }

    form {
        width: 100%;
    }
}                  
/* produktet */

.search-box{
    width:100%;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    
}
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 2rem;
}

.products .box {
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
}

.products .box .img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border-radius: 5px;
}

.products .box .name {
    font-size: 1.1rem;
    color: #3b3b3b;
    margin-top: 0.5rem;
    text-transform: capitalize;
}
.products .box .author {
    font-size: 1rem;
    color: #7a7a7a;
    margin-top: 0.5rem;
}

.products .box .price {
    font-size: 1rem;
    color: var(--green);
    margin: 0.5rem 0;
}

.products .box .qty {
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 4rem;
    font-size: 1rem;
    text-align: center;
}


.products .box .button {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
}

.products .box .button button,
.products .box .button a {
    font-size: 1.2rem;
    color: #000;
}    

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pagination-btn {
    font-size: 1rem;
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-btn:hover {
    background-color: #00ffaa;
    color: white;
}

.pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.page-link {
    font-size: 1rem;
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
    background-color: #00ffaa;
    color: white;
}

.page-link.active {
    background-color: #00ffaa;
    color: white;
}

#pageNumbers {
    display: flex;
    align-items: center;
}

.pagination-btn,
.page-link {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
/* services */
.services{
    padding: 3rem 0;
    text-align: center;
    line-height: 2;
    margin: 3rem 0;
    background-color: #fff; /* Ngjyra e bardhë për sfondin */
   

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Hije për theksim të seksionit */
    position: relative;

}
.services h3{
    text-transform: capitalize;
    color: var(--green);

}
.services img{
    width: 30%;
}
.paragraph1{
    padding-bottom: 20px;
    text-align: center;
}
.title1{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
/* about */
.about-category{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    margin: 2rem auto;
}
.about-category .box{
    position: relative;
    margin: 1rem;
    box-shadow: var(--box-shadow);
}
.about-category .box img{
    width: 60%;
}

.about-category .box .detail{
    position: absolute;
    top: 30%;
    right: 10%;
}

.about-category .box .detail h1{
    margin-bottom: 1.5rem;

}
.about-category .box .detail span{
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
}
.about-category .box .detail .btn{
    opacity: .6;
}
.about {
    background-color: #fff;
    padding: 4rem 2rem;
    margin: 3rem 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.about .row{
    display: flex; /* Aktivizo flexbox */
    justify-content: space-between; /* Lejon që elementët të jenë në skajet e kundërta */
    align-items: center; /* Qendro elementët vertikalisht */
    margin: 20px 0;
}
.about .row .detail h1 {
    font-family: inherit;
    font-size: 26px;
    color: #000;
    margin-bottom: 1.5rem;
    position: relative;
    padding-bottom: 10px;
    font-weight: 400; /* Më pak e trashë se default */
    letter-spacing: 0.5px; 
}

.about .row .detail p {
    color: #555;
    margin-bottom: 2rem;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #555;
    line-height: 1.5;
}
.about .row .detail{
    width: 50%;
    margin: 1rem;
    line-height: 1.5;
    text-align: center;
}
.about .row .detail p{
    margin-bottom: 2rem;
}
.about .row .img-box{
    width: 50%;
    flex: 1; /* Merrni hapësirë të barabartë */
    margin-right: 20px;

}
.about .row .detail h1{
    text-align: center;
    margin: 1rem 0;
    font-size: 24px;
}
/* <<<<<<<head */

.wishlist-item-img {
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border-radius: 5px; 
}
.cart-item-img{
    width: 60%;
    height: auto;
    margin-bottom: 1rem;
    padding: 0.5rem; 
    border-radius: 5px;
}

#wishlist-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 2rem;
}
#cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    padding: 2rem;
}
.wishlist-item {
    box-sizing: border-box;  
}
.cart-item {
    box-sizing: border-box;
}
#wishlist-container .box{
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
}

#cart-container .box{
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
}

.wishlist-item-name, .cart-item-name{
    font-size: 1.1rem;
    color: #3b3b3b;
    margin-top: 0.5rem;
    text-transform: capitalize;
}

.wishlist-item-author, .cart-item-author{
    font-size: 1rem;
    color: #7a7a7a;
    margin-top: 0.5rem;
}
.wishlist-item-price, .cart-item-price{
    font-size: 1rem;
    color: var(--green);
    margin: 0.5rem 0;
}
.remove-btn{
    font-size: 14px;
    background-color: #f62500; /* Red color for remove */
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.remove-btn:hover{
    background-color: #bd1c00; 
}
.add-to-cart-btn{
    font-size: 14px;
    background-color: rgb(0, 184, 0);
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.add-to-cart-btn:hoveR{
    background-color: rgb(2, 91, 2);
}



.order-main {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
}

#cart-summary {
    margin-bottom: 20px;
}


#total-price{
    color: red;
    text-align: right;
    font-size: 1.2rem;
    margin-top: 20px;
    font-weight: bold;
}

.order-form {
    margin-top: 30px;
}

.order-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.order-form input,
.order-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.order-form button {
    color: rgb(51, 143, 140);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    width:100%;
}
.order-form button:hover{
    color: white;
}
.cart-item2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-item-details2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.cart-item-img2 {
    width: 80px;
    height: 120px;
    margin-right: 20px;
}

.cart-item-name2 {
    font-size: 1.2rem;
    margin: 0;
}
.heading2{
    margin-bottom: 10px;
}

/* contact */
.main-container {
    background: #fff; /* Ngjyra e sfondit */
    width: 60vw; /* Gjerësia e kontejnerit */
    min-height: 80vh; /* Lartësia minimale e kontejnerit */
    box-shadow: var(--box-shadow); /* Hija e kontejnerit */
    margin: 2rem auto; /* Margjina automatikisht në majtas dhe djathtas */
    padding: 1rem; /* Hapësira brenda kontejnerit */
    position: relative; /* Aktivizoni pozicionimin relativ për elementët brenda */
}

.form-container {
    width: 70%;
    min-height: 300px; /* Gjerësia e formës */
    margin: 0 auto; /* Qendro formën në qendër */
    background-color: rgb(255, 255, 255 / 80%); /* Ngjyra e sfondit të formës */
    padding: 2rem; /* Hapësira brenda formës */
    border-radius: 5px; /* Rrumbullakoni skajet */
    text-align: left 10px; 
   
    /* Qendro përmbajtjen e formës */
}
.box-container .box .centere-content h1 {
    font-size: 32px; /* Rrit madhësinë e shkronjave të titullit */
    text-align: center; /* Rreshto titullin në qendër */
     /* Ngjyra e titullit */
    margin-bottom: 20px; /* Hapësira poshtë titullit */
    font-weight: bold; /* Bëni titullin të jetë me peshë të theksuar */
    text-transform: uppercase; /* Shkruani titullin me shkronja të mëdha */
}

.box-container .box .centere-content p {
    font-size: 17px; /* Rrit madhësinë e shkronjave të paragrafit */
    /* Justifikoni përmbajtjen e paragrafit */
    line-height: 1.4; /* Rritni hapësirën midis rreshtave për lehtësim të leximit (mund ta zvogëloni) */
    color: #555; /* Ngjyra e paragrafit */
    margin: 0; /* Hiqni hapësirën e parazgjedhur */
    padding: 10px 0; /* Shtoni hapësirë për të bërë përmbajtjen më të lehtë për t'u lexuar */
    margin: 0 auto; 
    /* Shtoni hapësirë për të bërë përmbajtjen më të lehtë për t'u lexuar */
}
.event-description {
    border: .5px solid #ddd; /* Kufiri i kutisë */
    border-radius: 6px; /* Rrumbullakosja e skajeve */
    padding: 20px; /* Hapësira brenda kutisë */
    box-shadow: var(--box-shadow); /* Hija për theksim të kutisë */
    margin: 20px 0; /* Hapësira lart dhe poshtë kutisë */
}
.form-container input,
 textarea{
    width: 80%; /* Gjerësia e input field-it */
    margin: 1rem auto; /* Qendro input field-in në qendër */
    display: block; /* Ngjyra e kufirit */
}
textarea{
    height: 200px;
}
.main-container p{
    color: var(--green);
}

.required-star {
    color: red; /* Ngjyra e yllit */
    margin-left: 3px; /* Hapësira majtas */
    font-weight: bold; /* E theksuar */
    /* Hiqni çdo stil tjetër që mund të ndikojë */
    background: none; /* Hiqni çdo sfond */
    border-radius: 0; /* Hiqni rrethin */
    padding: 0; /* Hiqni çdo padding */
}

.main-container input[type=submit]{
    color: #000 !important;
    cursor: pointer;
}
.form-container form {
    margin: 1rem auto;
    background-color: rgb(255, 255, 255 / 80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
   /* Aktivizo flexbox */
    flex-direction: column; /* Vendos elementët në një kolone */
    justify-content: center; /* Qendro elementët vertikalisht */
    align-items: center; /* Qendro elementët horizontalisht */
}
.form-container form p{
    text-transform: uppercase;
}
.form-container form input{
    width: 85%;
}
.form-container form button{
    width: 100%;
    border-radius: 10px;
    outline: none;
}
.address{
    padding: 4rem 0;
    min-height: 50vh;
}
.address .box-container{
    justify-content: center;
    align-items: center;
}
.address .box-container .box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: var(--box-shadow);
    line-height: 2;
    padding: 1rem 0;
}
.address .box-container .box h4{
    text-transform: uppercase;
    color: var(--green);
}
.address .box-container .box i{
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 70px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    color: #fff;
}
.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}
/* >>>>>>> 5543517de53cac41da9371e5bf3f172e5338ec1c */
/* Dropdown container styling */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown menu - hidden by default */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
}

/* Dropdown items */
.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect on items */
.dropdown-menu a:hover {
    background-color: #f0f0f0;}
.reserved-date {
    background-color: rgba(255, 0, 0, 0.5); /* Ngjyrë e kuqe me transparencë */
    color: white; /* Ngjyra e bardhë për tekstin */
    pointer-events: none; /* Përdoret për të parandaluar se si mund të klikohen këto data */
}
.category-text{
    padding-top: 5px;
    color: #686868;
}
.form-layout {
    display: flex; /* Përdorimi i Flexbox për të krijuar dy kolona */
    justify-content: center; /* Qendro elementët horizontalisht */
    align-items: flex-start; /* Qendro elementët vertikalisht në fillim */
    margin-top: 20px; /* Hapësira nga titulli ose elementi i sipërm */
    gap: 20px; /* Hapësira midis box1 dhe box2 */
}

.box1, .box2 {
    flex: 1; /* Lejon që box1 dhe box2 të ndajnë hapësirën e disponueshme */
    max-width: 400px; /* Limito hapësirën maksimale për secilin box */
}
.box1 {
    flex-grow: 1;
    max-width: 300px; 
   /* Box1 do të rritet sa më shumë të jetë e mundur */
}

.box2 {
    flex-grow: 1; /* Box2 do të rritet më shumë se box1 */
    min-height: 100px; /* Ju mund të vendosni një lartësi minimale për box2 */
}

.card-selection {
    text-align: center; 
    align-items: center;
    justify-content: center;
    /* Gjerësia e seksionit të kartave */
    padding-right: 20px; /* Hapësira midis kartave dhe formës */
}

.options {
    display: flex; /* Përdorimi i Flexbox për opsionet */
    flex-wrap: wrap; /* Lejon që opsionet të rreshtohen në rreshta */
    gap: 10px; /* Hapësira midis opsioneve */
    justify-content: space-between; /* Sigurohuni që opsionet të mbushin hapësirën */
    width: 100%; /* Sigurohuni që të mbushin hapësirën e disponueshme */
}

.option {
    flex: 1; /* Lejon që opsionet të ndajnë hapësirën e disponueshme */
    padding: 10px; /* Hapësira brenda opsionit */
    border: 2px solid #ccc; /* Kufiri i opsioneve */
    border-radius: 5px; /* Rrafshtimi i skajeve */
    cursor: pointer; /* Tregon se opsioni është klikuar */
    transition: background-color 0.3s ease; /* Efekti i kalimit */
    text-align: center; /* Qendro tekstin në qendër */
    min-width: 70px; /* Gjerësia minimale e opsioneve */
}
.option1{
    flex: 1; /* Lejon që opsionet të ndajnë hapësirën e disponueshme */
    padding: 10px; /* Hapësira brenda opsionit */
    border: 2px solid #ccc; /* Kufiri i opsioneve */
    border-radius: 5px; /* Rrafshtimi i skajeve */
    cursor: pointer; /* Tregon se opsioni është klikuar */
    transition: background-color 0.3s ease; /* Efekti i kalimit */
    text-align: center; /* Qendro tekstin në qendër */
    min-width: 100px; /* Gjerësia minimale e opsioneve */
}

.option1 img {
    width: 50px; /* Gjerësia e imazhit */
    height: 47px; /* Lartësia e imazhit */
}

.large-image-container {
    margin-top: 20px; /* Hapësira nga opsionet e kartave */
    text-align: center; /* Qendrimi i imazhit të madh */
    display: none; /* Fillimisht e fshehur */
    border-radius: 10px;
    width: 100%;
}

.large-image-container img {
    width: 100%; /* Gjerësia e imazhit të madh */
    max-width: 300px; /* Gjerësia maksimale e imazhit të madh */
    height: auto; /* Ruajtja e proporcioneve të imazhit */
    border-radius: 10px;
}

.form-section {
    width: 100%; /* Gjerësia e seksionit të formës */
}
.gift-card-section {
    background-color: #fff;
    padding: 20px;
    margin:auto;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}
.input-field {
    width: 100%; /* Sigurohuni që input field-at të mbushin hapësirën */
    /* Hapësira poshtë secilit input */
}

.input-field input,
.input-field textarea {
    width: 100%; /* Gjerësia 100% për input field-at dhe textarea */
    padding: 10px; /* Hapësira brenda input field-it */
    border: 1px solid #ccc; /* Kufiri i input field-it */
    border-radius: 5px; /* Rrafshtimi i skajeve */
}
.description{
    font-size: 13px;
    padding-top: 10px;
}
.selected {
    border-color: blue; /* Vendos kufi për kartën e zgjedhur */}
.acc-paragraph{
    text-align: center;
}
.loyalty-card-section {
    padding: 20px; /* Padding inside the section */    
}

.loyalty-card-section h2 {
    font-size: 24px; /* Font size for the heading */
    margin-bottom: 10px; /* Space below the heading */
}

.loyalty-card-section p {
    font-size: 16px; /* Font size for the paragraph */ 
}
.custom-carousel-btn {
    background-color: rgba(0, 0, 0, 0.5); /* Sfond gjysmë-transparent */
    border: none; /* Pa kufij */
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Forma rrethore */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Vendos në mes vertikalisht */
    transform: translateY(-50%); /* Centron vertikalisht */
    z-index: 10; /* Për t'u shfaqur mbi përmbajtjen */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.custom-carousel-btn:hover {
    background-color:var(--light-green); /* Errësim gjatë hover */
    transform: translateY(-50%) scale(1.1); /* Zmadhohet pak */
}

.carousel-control-prev {
    left: 10px; /* Afër skajit të majtë */
}

.carousel-control-next {
    right: 10px; /* Afër skajit të djathtë */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Bën ikonat të bardha */
    width: 20px;
    height: 20px;
}
